
<!DOCTYPE html>
<html>
<head>
    <title>Spotify Web Playback SDK Quick Start</title>
</head>
<body>
    <h1>Spotify Web Playback SDK Quick Start</h1>

    <form action="/login" method="get">
        <button id="login">login</button>
      </form>

    <form action="/toggleplay" method="POST">
        <button id="togglePlay">connect</button>
      </form>

      <form action="/play" method="PUT">
        <button id="Play">Play</button>
      </form>

      <script src="https://sdk.scdn.co/spotify-player.js"></script>
    <script>

        window.onSpotifyWebPlaybackSDKReady = () => {
            const token = 'BQDp7biMsocuntUvIAAWlFhOBOFZ-fcvjdMO1XOLN12XPVlQjAf671l46UUxuSGDy6f2-w1d_vYoc_x9xwBmyRXy5NCGCmqKk4Hxq72lez6zdJpZifND7RUPN3OfZiZYpY8vN6QtJ4KLirF2-5CZl3J-U4gFcT863CaDGEfjjI-FS-f2d3UnjU8TUxq4tFcfmWU5GImSC3LhqvtDKx5m0s0_XTDbcTX-';
            const player = new Spotify.Player({
                name: 'Web Playback SDK Quick Start Player',
                getOAuthToken: cb => { cb(token); },
                volume: 0.5
            });

            // Ready
            player.addListener('ready', ({ device_id }) => {
                console.log('Ready with Device ID', device_id);
            });

            // Not Ready
            player.addListener('not_ready', ({ device_id }) => {
                console.log('Device ID has gone offline', device_id);
            });

            player.addListener('initialization_error', ({ message }) => {
                console.error(message);
            });

            player.addListener('authentication_error', ({ message }) => {
                console.error(message);
            });

            player.addListener('account_error', ({ message }) => {
                console.error(message);
            });

            document.getElementById('togglePlay').onclick = function() {
              player.togglePlay();
            };

            player.activateElement();

            player.connect();
        }
    </script>

</body>
</html>
