
<!DOCTYPE html>
<html>
<head>
    <title>Spotify Web Playback SDK Quick Start</title>
</head>
<body>
    <h1>Spotify Web Playback SDK Quick Start</h1>

    <form action="/login" method="get">
        <button id="login">login</button>
      </form>

    <form action="/toggleplay" method="POST">
        <button id="togglePlay">Toggle Play</button>
      </form>

    <script src="https://sdk.scdn.co/spotify-player.js"></script>
    <script defer>
        
        console.log("플레이어 스크립트 실행")
        window.onSpotifyWebPlaybackSDKReady = () => {
            const token = "BQCkgnOISq2vuqb1XndCSd1MX4kTnGNdQF1_mT_ayVvOgpOKOF3CdsL8WoUc5UAHysND9H8Y72LtXMwoqBT_KnzKSZZOVdtZ7Qv7I4haHS9usZ2VDsfftNDQg7qplal7-QDl4XKbVOazFqgQLf2TR-pQtvOI77Ag-mvTq_Jurdyl1bUSSpBrfHkaROy_PDeaDBLniyLF4eAruOUUTQuA1Oiux-TEQJfL";
            const player = new Spotify.Player({
                name: 'Web Playback SDK Quick Start Player',
                getOAuthToken: cb => { cb(token); },
                volume: 0.5
            });

            // Ready
            player.addListener('ready', ({ device_id }) => {
                console.log('Ready with Device ID', device_id);
            });

            // Not Ready
            player.addListener('not_ready', ({ device_id }) => {
                console.log('Device ID has gone offline', device_id);
            });

            player.addListener('initialization_error', ({ message }) => {
                console.error(message);
            });

            player.addListener('authentication_error', ({ message }) => {
                console.error(message);
            });

            player.addListener('account_error', ({ message }) => {
                console.error(message);
            });

            document.getElementById('togglePlay').onclick = function() {
              player.togglePlay();
            };

            player.connect();
        }
    </script>
</body>
</html>
