
<!DOCTYPE html>
<html>
<head>
    <title>Spotify Web Playback SDK Quick Start</title>
</head>
<body>
    <h1>Spotify Web Playback SDK Quick Start</h1>

        <button id="togglePlay">toggle Play</button>

      <script src="https://sdk.scdn.co/spotify-player.js"></script>
    <script>

        window.onSpotifyWebPlaybackSDKReady = () => {
            const token = 'BQCQlau3YBvu5SDGoPq7wk6cC2NlPG-vZq3HduyFHO5ZPfY47DAoaab2kFpzSrKZOA_18_8JxnhvSXLIEKggLdWh31pfeE7kbDzO7x70ZdUaSp2Q-9LrLwHqRJ0AqrPfcfn4bU8HnyJUZFi4yUAvwRRxZeoBkUV8srNyR7BozFPoJif8c2kCytlNy9mAfqZutR7qjW3h5CAr9NXM6oLVALVQfEb2RVt-';
            const player = new Spotify.Player({
                name: 'Web Playback SDK Quick Start Player',
                getOAuthToken: cb => { cb(token); },
                volume: 0.5
            });

            // Ready
            player.addListener('ready', ({ device_id }) => {
                console.log('Ready with Device ID', device_id);
            });

            // Not Ready
            player.addListener('not_ready', ({ device_id }) => {
                console.log('Device ID has gone offline', device_id);
            });

            player.addListener('initialization_error', ({ message }) => {
                console.error(message);
            });

            player.addListener('authentication_error', ({ message }) => {
                console.error(message);
            });

            player.addListener('account_error', ({ message }) => {
                console.error(message);
            });

            document.getElementById('togglePlay').onclick = function() {
              player.togglePlay();
            };


            player.activateElement();

            player.connect();
        }
    </script>

</body>
</html>
